<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MedidoresDBEntities" connectionString="metadata=res://*/Lecturas.csdl|res://*/Lecturas.ssdl|res://*/Lecturas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MedidoresDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>